html {
    width: 100%;
    height: 100%;
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.DtKV96tH6lok3RTS4D_kLgHaEK&pid=Api&P=0&h=220');
    background-size: contain;
}

body {
    height: 100%;
    overflow: hidden;
    color: white;
}

.taskbar {
    position: absolute;
    width: 100%;
    background-color: black;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 50px; /* Increased height to fit search bar */
    padding: 0 10px; /* Added padding for better spacing */
    overflow: hidden;
}

.taskbar img {
    width: auto;
    height: 30px;
    margin: 5px;
}

button {
    background-color: black;
    border: none;
}

#search {
    flex: 1;
    max-width: 300px;
    padding: 8px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    bottom: 5px;
    background-color: white;
}

.windowshown, .windowhidden {
    width: 80vw;
    height: 60vh;
    margin: 0 auto; /* Center the window horizontally */
}

.windowshown {
    display: block;
    width: 80vw;
}

.windowhidden {
    display: none;
}

.frameshown {
    background-color: lightgray;
    width: 80vw;
    height: 35px;
    float:center;
    
}
.framehidden {
    background-color: lightgray;
    width: 80vw;
    height: 35px;
    float:center;
    display:none;
}

.control-box {
    float: right;
    /* Remove float: right; */
}

.controls {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: none;
}

#close:hover {
    background-color: red;
}

.controls:hover {
    background-color: gray;
}

.fullscreen {
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

.fullscreen #googleframeheader {
    width: 100vw !important;
    top: 0 !important;
    left: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

#time {
    float: right !important;
}

.window {
    position: absolute;
}

#setwindow {
    background-color: white;
}

.tray {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
}
